html, body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #000;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
  font-family: Roboto;
  user-select: none;
  background-image: url("NewBackground00.jpg");
  background-position: center;
background-size: cover; }

 

/* Page structure */
.wrapper {
  display: grid;
  place-items: center;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Our remix on glitch button */
.btn--remix {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
  background: #ffffff7d;
  border: 1px solid #2800FF;
  border-radius: 10vmin;
  color: #2800FF;
  padding: 15px 64px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 3vmin;
  position: relative;
  place-items: center;
  top: 30vmin;
}

.btn--remix img {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border-radius: 5px;
}

.btn--remix:hover {
  background-color: #2800FF;
  color: #fff;
}

.btn--remix1 {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
  background: #ffffff7d;
  border: 1px solid #2800FF;
  border-radius: 10vmin;
  color: #2800FF;
  padding: 15px 35px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 3vmin;
  position: relative;
  place-items: center;
  top: 30vmin;
}

.btn--remix1 img {
  display: inline-block;
  vertical-align: middle;
  
  padding: 5px;
  border-radius: 5px;
}

.btn--remix1:hover {
  background-color: #2800FF;
  color: #fff;
}


.btn--preview {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  background: #ffffff00;
  border: 1px solid #2800FF;
  border-radius: 10vmin;
  color: #2800FF;
  padding: 15px 115px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 3vmin;
  position: relative;
  place-items: center;
  top: 30vmin;
}

.btn--preview:hover {
  background-color: #2800FF;
  color: rgb(255, 255, 255);
}


/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}


.divider {
  padding: 0 1rem;
}

.title {
  position: absolute;
  top: 7vmin;
  color: #2800FF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 10vmin;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 0.5vmin  0vmin;
  position:absolute;
  cursor: pointer;
  bottom: 5vmin;
  font-size: 2vmax ;
  padding-left: 0%;
  color: #2800FF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #ffffff;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

.dipped {
  transform: translateY(5px);
}
